body.document .section.leadspace-container > div:first-child > .leadspace.document {
    padding-bottom: var(--spacer-layout-05);
  }
  
  .section.pdf-viewer-container > .pdf-viewer-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: calc(var(--spacer-layout-03) * -1);
    margin-bottom: var(--spacer-element-08);
    width: calc(100% - 47px);
  }
  
  .pdf-viewer {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--neutral-white);
    box-shadow: var(--box-shadow-large);
  }
  
  .pdf-viewer.embed-mode--full-window {
    height: calc(100vh / 2.4);
    display: none;
  }
  
  .pdf-viewer.embed-mode--in-line {
    height: 100%;
  }
  
  /** Tablet */
  @media screen and (min-width: 768px) {
    .section.pdf-viewer-container > .pdf-viewer-wrapper {
      width: var(--section-width-tablet-small);
    }
  }
  
  /** Desktop */
  @media screen and (min-width: 1200px) {
    body.document .section.leadspace-container > div:first-child > .leadspace.document {
      padding-bottom: var(--spacer-layout-07);
    }
  
    .section.pdf-viewer-container > .pdf-viewer-wrapper {
      position: relative;
      width: var(--section-width-desktop);
      margin-top: calc(var(--spacer-layout-06) * -1);
      margin-bottom: var(--spacer-element-08);
    }
  
    .pdf-viewer.embed-mode--full-window {
      display: block;
      height: 986px;
    }
  
    .pdf-viewer.embed-mode--in-line {
      height: 100%;
    }
  
    .pdf-viewer.embed-mode--full-window.pdf-viewer-orientation--portrait {
      height: 1620px;
    }
  }
  
  /** Desktop - Extra Large */
  @media screen and (min-width: 1400px) {
    .section.pdf-viewer-container > .pdf-viewer-wrapper {
      max-width: 1400px;
      width: 100%;
    }
  }